:root {
    --btn-basic-color: #1976D2;
    --btn-basic-gold-color: #ffe554;
    --btn-game-color: #e63946;
    --btn-circle-color: #2a9d8f;
}


body {
    display: flex;
    height: 100%;
    background: linear-gradient(135deg, #05030f, #1a0b3d, #2d1b5e, #4a1942, #05030f);
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 1280px) {
    .btn-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .btn-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.element {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background: #0b3f5c39;
    border: 1px solid #5c80a9;
    border-radius: 10px;
    overflow: hidden;
}

.element-stage {
    flex: 1;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-info {
    padding: 15px 20px;
    background: #2c444c48;
}

.element-name {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 600;
    color: #acc2d9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.element-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.element-code {
    width: 100%;
    padding: 10px 12px;
    text-align: left;
    background: #162f3f75;
    border: 1px solid #5c80a9;
    border-radius: 6px;
    color: #84acdc;
    cursor: pointer;
    transition: 0.3s ease;
}

.color-input {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.element-code:hover {
    border-color: rgb(2, 101, 213);
}

.element-code code {
    font-family: monospace;
}

.btn {
    position: relative;
    isolation: isolate;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 50px;
}
.btn:focus-visible {
    outline: 2px solid white;
    outline-offset: 4px;
}

.btn span {
    color: white;
}

/* КНОПКА В СТАНДАРТНОМ СТИЛЕ */
.btn-basic {
    background: transparent;
    border: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.btn-blue {
    --button-color: #1976D2;
    background: var(--button-color);
    color: white;
    transition: 0.3s ease;
}
.btn-blue:hover {
    background: #1669bb;
}

.btn-gold {
    background: var(--btn-basic-gold-color);
    transition: 0.3s ease;
}
.btn-gold span { color: #333; }
.btn-gold:hover {
    background: #ffce08;
}

/* КНОПКА В ИГРОВОМ СТИЛЕ */
.btn-game {
    position: relative;
    background: none;
    border: none;
    transition: 0.3s ease;
}

.btn-game::before,
.btn-game::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #00ffff;
    transition: 0.3s ease;
}

.btn-game::before {
    top: -4px;
    left: -4px;
    border-right: none;
    border-bottom: none;
}

.btn-game::after {
    bottom: -4px;
    right: -4px;
    border-left: none;
    border-top: none;
}

.btn-game:focus-visible {
    outline: none;
}
.btn-game:hover::before,
.btn-game:hover::after,
.btn-game:focus-visible::after,
.btn-game:focus-visible::before {
    width: 100%;
    height: 100%;
}
.btn-game:focus-visible::after,
.btn-game:focus-visible::before {
    box-shadow: 0 0 10px #00ffff;
}


/* КНОПКА С НЕОНОМ */

.btn-neon {
    background: transparent;
    border: none;
    box-shadow: 
        0px 0px 10px #ff8df4,
        0px 0px 30px #ff52ee,
        0px 0px 50px #ff00e6;
    text-shadow: 0px 0px 5px #ff00e6, 0px 0px 10px #ff00e6;
    transition: 0.3s ease;
}

.btn-neon:hover {
    color: #ff00e6;
    box-shadow: 
        0px 0px 10px #ff8df4,
        0px 0px 40px #ff52ee,
        0px 0px 100px #ff00e6;
    text-shadow: 0px 0px 10px #ff00e6, 0px 0px 20px #ff00e6;
}

.btn-neon:focus-visible {
    outline: none;
    box-shadow: 
        0px 0px 10px #ff8df4,
        0px 0px 40px #ff52ee,
        0px 0px 100px #ff00e6;
    text-shadow: 0px 0px 10px #ff00e6, 0px 0px 20px #ff00e6;
}

/* PLAY BUTTON */
.btn-play {
    position: relative;
    background: rgb(34, 34, 34);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 10px rgb(93, 93, 93);
    width: 15px;
    height: 15px;
    padding: 15px;
    transition: 0.3s ease;
}
.btn-play::before {
    content: '▶';
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    transition: 0.3s ease;
}
.btn-play:hover {
    transform: translate(0px, -5px);
    background: rgb(0, 0, 0);
}

.btn-play:focus-visible {
    transform: translateY(-5px);
    background: rgb(0, 0, 0);
}

/* ACCEPT BUTTON  */
.btn-accept {
    position: relative;
    width: 15px;
    height: 15px;
    padding: 15px;
    background: rgba(17, 254, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(93, 93, 93);
    transition: 0.3s ease;
}
.btn-accept::before {
    content: '✔';
    color: rgb(11, 172, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    transition: 0.3s ease;
}
.btn-accept:hover {
    transform: translate(0px, -5px);
    background: rgba(17, 254, 0, 0.4);
}
.btn-accept:hover::before {
    color: rgb(7, 104, 0);
}
.btn-accept:focus-visible {
    transform: translateY(-5px);
    background: rgba(17, 254, 0, 0.4);
    color: rgb(7, 104, 0);
}

/* REJECT BUTTON  */
.btn-reject {
    position: relative;
    width: 15px;
    height: 15px;
    padding: 15px;
    background: rgba(254, 0, 0, 0.2);
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(93, 93, 93);
    transition: 0.3s ease;
}
.btn-reject::before {
    content: '✖';
    color: rgb(172, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
.btn-reject:hover {
    transform: translate(0px, -5px);
    background: rgba(254, 0, 0, 0.4);
}
.btn-reject:hover::before {
    color: rgb(113, 0, 0);
}
.btn-reject:focus-visible {
    transform: translateY(-5px);
    background: rgba(254, 0, 0, 0.4);
    color: rgb(113, 0, 0);
}


/* BUTTON THAT INCREASES WIDTH */
.btn-width {
    position: relative;
    background: #cb0f41;
    padding: 20px 25px;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;
}
.btn-width::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 30px;
    height: 100%;
    background: #cb0f41;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;
}
.btn-width::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 30px;
    height: 100%;
    background: #cb0f41;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease;
}
.btn-width:hover::before,
.btn-width:focus-visible::before {
    left: -20px;
}
.btn-width:hover::after,
.btn-width:focus-visible::after {
    right: -20px;
}
.btn-width:focus-visible {
    outline: none;
    box-shadow: 
        20px 0px 20px #f78ca8,
        -20px 0px 20px #f78ca8,
        0px 0px 20px #f78ca8;
}

/* BUTTON CIRCLE */
.btn-circle {
    position: relative;
    border: none;
    border-radius: 50%;
    background: rgb(105, 213, 255);
    padding: 0;
    width: 30px;
    height: 30px;
    transition: 0.3s ease;
}
.btn-circle::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px solid rgba(105, 213, 255, 0.6);
    background: transparent;
    transition: 0.3s ease;
    z-index: -1;
}
.btn-circle:hover::before,
.btn-circle:focus-visible::before {
    width: 20px;
    height: 20px;
}
.btn-circle::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px solid rgba(105, 213, 255, 0.3);
    background: transparent;
    transition: 0.3s ease;
    z-index: -1;
}
.btn-circle:hover::after,
.btn-circle:focus-visible::after {
    width: 30px;
    height: 30px;
}
.btn-circle:focus-visible {
    outline-offset: 14px;
}

/* PAPER BUTTON */
.btn-paper {
    position: relative;
    background: transparent;
    width: 100px;
    height: 50px;
    padding: 0px;
    border: 1px solid white;
    transition: 0.3s ease;
}
.btn-paper span {
    position: relative;
    z-index: 2;
}
.btn-paper::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    top: 3px;
    left: 3px;
    background: rgb(255, 234, 0);
    opacity: 0.5;
    transition: 0.3s ease;
    z-index: -1;
}
.btn-paper:hover::after,
.btn-paper:focus-visible::after {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: -1;
}

/* SKEW BUTTON */
.btn-skew {
    position: relative;
    padding: 0;
    width: 100px;
    height: 50px;
    border: none;
    background: transparent;
}
.btn-skew::before,
.btn-skew::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 50px;
    transform: skewX(20deg);
    z-index: -1;
    transition: 0.3s ease;
}
.btn-skew::before {
    top: -10px;
    left: -50px;
    background: yellow;
}
.btn-skew::after {
    bottom: -10px;
    right: -50px;
    background: purple;
}
.btn-skew:hover::before,
.btn-skew:focus-visible::before {
    top: 0;
    left: 0;
    opacity: 0.5;
}
.btn-skew:hover::after,
.btn-skew:focus-visible::after {
    bottom: 0;
    right: 0;
    opacity: 0.5;
}
.btn-skew:focus-visible {
    outline: none;
}
.btn-skew:focus-visible::after,
.btn-skew:focus-visible::before {
    outline: 2px solid white;
}

/* BUTTON WITH TEXT ON THE RIGHT */ 
.btn-right-text {
    position: relative;
    background: transparent;
    border: 2px solid #00ffff;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: 0.3s ease;
}
.btn-right-text::before,
.btn-right-text::after {
    content: '';
    position: absolute;
    background: transparent;
    border: 2px solid #00ffff;
    height: 5px;
    width: 5px;
    transition: 0.3s ease;
}
.btn-right-text::before {
    top: -2px;
    right: -5px;
    border-bottom: none;
    border-left: none;
    border-top-right-radius: 5px;
}
.btn-right-text::after {
    bottom: -2px;
    right: -5px;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 5px;
}
.btn-right-text:hover::after,
.btn-right-text:hover::before,
.btn-right-text:focus-visible::after,
.btn-right-text:focus-visible::before {
    height: 30px;
}
.btn-right-text span {
    position: absolute;
    background: transparent;
    border: none;
    transform: translate(0%, -50%);
    top: 50%;
    right: -30px;
    transition: 0.3s ease;
}
.btn-right-text:hover span,
.btn-right-text:focus-visible span {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


/* 3D LINK BUTTON */
.btn-3D-link {
    position: relative;
    background: transparent;
    border: 1px solid rgb(0, 119, 255);
    border-radius: 10px;
    padding: 0;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg) skewY(10deg);
    filter: drop-shadow(0px 0px 1px rgb(0, 119, 255));
    transition: 0.3s ease;
}
.btn-3D-link::before,
.btn-3D-link::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(50px - 1px);
    height: calc(50px - 1px);
    border: 1px solid rgb(0, 119, 255);
    filter: drop-shadow(0px 0px 1px rgb(0, 119, 255));
    border-radius: 10px;
    transition: 0.3s ease;
}
.btn-3D-link::before {
    top: 60%;
    left: 40%;
    border-color: rgb(50, 150, 255);
    opacity: 0.8;
    z-index: -1;
}
.btn-3D-link::after {
    top: 70%;
    left: 30%;
    border-color: rgb(100, 180, 255);
    opacity: 0.5;
    z-index: -1;
}
.btn-3D-link:hover::before,
.btn-3D-link:hover::after,
.btn-3D-link:focus-visible::before,
.btn-3D-link:focus-visible::after {
    top: 50%;
    left: 50%;
    border-color: rgb(0, 119, 255);
}
.btn-3D-link:hover,
.btn-3D-link:focus-visible {
    border: 3px solid rgb(0, 119, 255);
}
.btn-3D-link span {
    font-size: large;
    font-weight: 800;
    color: rgb(0, 119, 255);
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black,
        2px 2px 0 rgba(0,0,0,0.3);
}